<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace：用于指定当前文件与哪个接口进行映射-->
<mapper namespace="com.xqr.stroe.mapper.UserMapper">
    <!--自定义映射规则-->
    <!--
    type:表示与java中哪个类匹配
    -->
    <resultMap id="UserEntityMap" type="com.xqr.stroe.entity.User">
        <!--将表与属性不一致的字段进行匹配，名称匹配的可以不写-->
        <!--column:数据库表中的字段
        property：类中的属性  ，
        配合完成名称不一致的映射 -->
        <!--定义映射规则是主键不可省略-->
        <result column="uid" property="uid"></result>
        <result column="is_delete" property="isDelete"></result>
        <result column="created_user" property="createdUser"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>
  <!--id;映射方法名称-->
    <!--
    useGeneratedKeys:开启某个字段的值自增
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user(
        username,password,salt,phone,email,gender,avatar,
        is_delete,created_user,created_time,modified_user,modified_time
    ) VALUES {
        #{username},#{password},#{salt},#{salt},#{email},#{gender},#{avatar},
        #{isDelete},#{createdUser},#{createdTime},#{modifiedUser},#{modifiedTime}
            }
    </insert>

    <!--
    resultType:结果返回结果集类型
    -->
    <select id="findByUsername" resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE username= #{username}
    </select>
</mapper>